.container {
    width: 1024px;
    text-align: center;
    margin: 0 auto;
  }

  .login-title {
    font-size: 60px;
    padding: 20px 0;
    margin-bottom: 75px;
  }

  .welcome-image {
      width: 350px;
      height: 350px;
      margin-right: 100px;
  }

  .welcome-image, .logIn {
      float: left
  }

  .login-header {
      margin-bottom: 45px;
  }

  .login-info {
      font-family: fantasy;
  }

  button {
      margin: 30px;
  }
  
