.nav {
    background-color: #af8080;
  }
  
  .nav-option {
    color: #eee;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }

  li {
    list-style-type: none;
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
  }