.question {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

.question-header {
    background: grey;
    text-align: center;
    font-size: 30px; 
}
.img-section, .question-info {
 float: left;
}

img {
    float: left;
    border-radius: 50%;
    margin-right: 7px;
}

.question-info {
    margin-bottom: 20px;
}

.options {
    text-align: left;
}

.selected-answer {
    background-color: #78bef8;
    color: black;
}

.btn {
    background-color: #af8080 !important;
}